.footer {
  padding: 2em 0;
  text-align: center;
}

.footer img {
  display: block;
  margin: 0.5rem auto;
}

.footer span {
  color: #555;
  font-size: 14px;
}
.footer .tweetButton {
  text-align: left;
  max-width: calc(600px + 5%);
  margin: -40px auto 50px;
  padding: 0 5%;
}

.footer .links {
  display: block;
  margin: 1rem auto;
  max-width: 500px;
  text-align: center;
}

.footer .links a {
  width: 36px;
  height: 36px;
  margin: 0 10px;
  display: inline-block;
  transition: opacity 200ms ease;
}

.footer .links a:hover {
  opacity: 0.6;
}

.footer .avatar {
  display: block;
  text-align: center;
  margin: 1rem 0;
}

.footer .avatar img {
  height: 120px;
}

.footer .name {
  text-align: center;
}

.footer .name a {
  color: inherit;
}
